

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: var(--space-6);
}
.grid-auto-sm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: var(--space-4);
}
.grid-auto-lg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  gap: var(--space-8);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-6);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-6);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-6);
}

.gap-sm {
  gap: var(--space-4);
}

.gap-md {
  gap: var(--space-6);
}

.gap-lg {
  gap: var(--space-8);
}

.gap-xl {
  gap: var(--space-12);
}

@media (max-width: 1150px) {
  .grid-4 { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 992px) {
  .grid-4, .grid-3 { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 768px) {
  .grid-2 { grid-template-columns: 1fr 1fr; }
  
  .gap-lg { gap: var(--space-6); }
  .gap-xl { gap: var(--space-8); }
}
@media (max-width: 640px) {
  .grid-4, .grid-3, .grid-2 { grid-template-columns: 1fr; }
  .gap-md { gap: var(--space-4); }
  .gap-lg { gap: var(--space-6); }
  .gap-xl { gap: var(--space-6); }
}
@media (max-width: 480px) {
  .grid-auto, .grid-auto-sm, .grid-auto-lg { gap: var(--space-4); }
  .gap-lg, .gap-xl { gap: var(--space-4); }
}
